
CodingAssignment02/.Rproj.user/CA2E5524/sources/prop/8D7050A4
CodingAssignment02/.Rproj.user/CA2E5524/sources/prop/INDEX
CodingAssignment02/.Rproj.user/CA2E5524/sources/s-2019D230/5D2F21E9-contents
CodingAssignment02/.Rproj.user/CA2E5524/sources/s-2019D230/A64B3A10
CodingAssignment02/.Rproj.user/CA2E5524/sources/s-2019D230/A64B3A10-contents
CodingAssignment02/.Rproj.user/CA2E5524/sources/s-2019D230/lock_file
CodingAssignment02/.Rproj.user/shared/notebooks/99C01F9C-CodingAssignment2/1/CA2E55242019D230/chunks.json
CodingAssignment02/.Rproj.user/shared/notebooks/99C01F9C-CodingAssignment2/1/s/chunks.json
CodingAssignment02/.Rproj.user/shared/notebooks/99C01F9C-CodingAssignment2/1/s/csetup_chunk/00000f.csv
CodingAssignment02/.Rproj.user/shared/notebooks/patch-chunk-names
CodingAssignment02/.Rproj.user/shared/notebooks/paths
